        <div class="flex bg-gray-200 p-6">
            <div class="flex-auto">
                <a href="/"><h1 class="text-indigo-800 text-8xl">Blogs</h1></a> 
            </div>
            <div class="justify-end pt-10 pr-auto">
                <a class=" text-purple-800 pr-4" href="/"> Homepage</a>
                <a class=" text-purple-800 pr-4" href="/about"> About</a>
                <a class=" text-purple-800 pr-4" href="/create"> Create</a>
                <% if (isLoggedIn) { %>
                <a class=" text-purple-800 pr-4" href="/create"> Log in</a>
                <a class=" text-purple-800 pr-4" href="/create"> Log out</a>
                <% } else { %>
                <a class=" text-purple-800 pr-4" href="/create"> Register </a>
                <% } %>                
            </div>
        </div>

