
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width initial-scale=1">
                <title>check</title>
                <script src="https://cdn.tailwindcss.com"></script>
                <style>
        .create-blog form{
        max-width: 400px;
        margin: 0 auto;
        }


        a:hover{
        color: rgb(155, 125, 114);
        }
        a:hover h1{
        color: rgb(163, 116, 143);
        }

        .create-blog input,
        .create-blog textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
        border: 1.5px solid #cbbfbf
        }
        .create-blog label{
        display: block;
        margin-top: 24px;
        }
        textarea{
        height: 120px;
        }
        .create-blog button{
        margin-top: 20px;
        background: rgb(235, 87, 116);
        color: white;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;
        }
        button:hover{
                background: rgb(195, 41, 71);
        }
        /* Apply these styles to your footer element */
        footer {
        color: #ccc; /* Optional: Set text color */
        text-align: center;
        padding: 50px 0; /* Optional: Add padding for spacing */
        }
        .create-blog input[type="submit"] {
    margin-top: 20px;
    background: rgb(235, 87, 116);
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}


        </style>
        <link rel="stylesheet" href="/style.css">

