<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <%- include('./partials/body.ejs')%>
        <div class="justify-start content mt-16 max-w-xs" >
           <h1 class="pl-6 text-2xl text-gray-500">404, Page is not Found</h1> 
        </div>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>