<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>check</title>
        <script src="https://cdn.tailwindcss.com"></script>


    </HEAD>
    <body>
        <div class="flex bg-gray-200 p-6">
            <div class="flex-auto">
                <h1 class="text-indigo-800 text-8xl">Blogs</h1>
            </div>
            <div class="justify-end pt-10 pr-auto">
                <a class=" text-purple-800 pr-2" href="/"> Homepage</a>
                <a class=" text-purple-800" href="/about"> About</a>
            </div>
        </div>
        <h2>My personal Blog Website</h2>
    </body>
</HTML>